.nonceButtonWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nonceButton {
  font-size: 1rem;
}

.nonceTarget {
  height: 1rem;
  margin-top: 0.5rem;
}