@import "~styles/colors";

.quoteWrapper {
  color: $darkGrey;
  display: flex;
  font-size: 0.9rem;
  text-align: initial;
  * {
    margin: 0;
    padding: 0;
  }
  margin-top: 1rem;
}

.quoteVertical {
  width: 2px;
  background-color: $orange;
  margin: 0 1rem;
  flex: 1 0 auto;
}