@import "~styles/colors";

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: $orange;
  text-shadow: 1px 1px $lightGrey;
}

h1 {
  margin-top: 2rem;
}

p, code, img {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

p {
  width: 100%;
}

a {
  color: $orange;
}

code {
  font-size: 0.8rem;
  padding: 1rem;
  border: solid 2px $orange;
  text-align: center;
}

.bold {
  font-weight: 600;
}

.italics {
  font-style: italic;
}

.subtext {
  color: $darkGrey;
  font-size: 0.8rem;
}

.pageForwardLink {
  max-height: 3rem;
}

.pageChangeChev {
  height: 3rem;
  width: 3rem;
}
