@import "~styles/colors";

.cspDescriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 10%;
}

.cspHiLite {
  color: $orange;
}